In [ ]:
#파일열기
#참고할자료 찾기
#찾아야할 자료 찾기
#출판사입력

In [37]:
#파일열기
import pandas as pd
df1 = pd.read_excel('sample.xlsx',sheet_name='Sheet1')
df2 = pd.read_excel('sample.xlsx',sheet_name='Sheet2')

In [38]:
#참고할자료 찾기
df1.head()

                           책제목      출판사
0      IT 비전공자를 위한 돈 버는 파이썬 코딩    디지털북스
1       만들면서 배우는 파이썬과 40개의 작품들      앤써북
2  이것이 취업을 위한 코딩 테스트다 with 파이썬    한빛미디어
3              Do it! 점프 투 파이썬  이지스퍼블리싱
4             파이썬 for Beginner   한빛아카데미

In [39]:
#찾아야할 자료 찾기
df2.head()

                                 상품명 출판사
0         파이썬 웹프로그래밍 실전편[2020년6월-특가]   ?
1  [2020년8월-독점]이것이 데이터 분석이다 with 파이썬   ?
2        [2022년8월-독점]파이썬으로 배우는 포트폴리오   ?
3                [2022년3월-특가]진지한 파이썬   ?
4        [2022년11월-특가]파이썬 생활밀착형 프로젝트   ?

In [40]:
#출판사입력

In [41]:
for a in range(len(df2)):
    name = df2.loc[a]['상품명']
#     print(name)
    for b in range(len(df1)):
        raw_name = df1.loc[b][0]
        publisher = df1.loc[b][1]
        if raw_name in name:
            df2.loc[a]['출판사']=publisher
            break
df2.head()

                                 상품명     출판사
0         파이썬 웹프로그래밍 실전편[2020년6월-특가]  한빛아카데미
1  [2020년8월-독점]이것이 데이터 분석이다 with 파이썬   한빛미디어
2        [2022년8월-독점]파이썬으로 배우는 포트폴리오  한빛아카데미
3                [2022년3월-특가]진지한 파이썬  한빛아카데미
4        [2022년11월-특가]파이썬 생활밀착형 프로젝트     로드북

In [42]:
df2.to_excel('result.xlsx')